[Unit]
Description=Start Hamlib Service
After=multi-user.target

[Service]
ExecStart=/home/pi/Project/remoteRadioControl/server/startHamlib.sh
Restart=always
RestartSec=30
WorkingDirectory=/home/pi/Project/remoteRadioControl/server
StandardOutput=journal
StandardError=journal
Type=simple

[Install]
WantedBy=multi-user.target
