[Unit]
Description=Radio Remote Control Node Service
After=multi-user.target

[Service]
ExecStart=sudo node server.js
Restart=always
RestartSec=30
WorkingDirectory=/home/pi/Project/remoteRadioControl/server
StandardOutput=journal
StandardError=journal
Type=simple

[Install]
WantedBy=multi-user.target